<div class="modal fade" id="partsModal" tabindex="-1" role="dialog" aria-labelledby="parts">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <%= form_for(part) do |f| %>
        <% if part.errors.any? %>
          <div id="error_explanation">
            <h2><%= pluralize(part.errors.count, "error") %> prohibited this part from being saved:</h2>
            <ul>
            <% part.errors.full_messages.each do |message| %>
              <li><%= message %></li>
            <% end %>
            </ul>
          </div>
        <% end %>
        <div class="field">
          <%= f.label Category.find(part.category_id).name, :class => "part-name" %>
          <%= f.hidden_field :category_id, :value => part.category_id %>
        </div>
        <div class="field">
          <%= f.label :name, :class => "part-name" %>
          <%= f.hidden_field :category_id, :value => part.category_id %>
          <%= f.text_field :name, :class => "form-control" %>
        </div>
        <div class="field">
          <%= f.label :link, :class => "part-name" %>
          <%= f.text_field :link, :class => "form-control" %>
        </div>
        <div class="actions">
          <%= f.submit %>
        </div>
      <% end %>
    </div>
  </div>
</div>
