<p id="notice"><%= notice %></p>

<p>
  <strong>Setup:</strong>
  <%= @part.setup_id %>
</p>

<p>
  <strong>Name:</strong>
  <%= @part.name %>
</p>

<p>
  <strong>Link:</strong>
  <%= @part.link %>
</p>

<%= link_to 'Edit', edit_part_path(@part) %> |
<%= link_to 'Back', parts_path %>
