<%= form_for(setup, html: { multipart: true }) do |f| %>
  <% if setup.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(setup.errors.count, "error") %> prohibited this setup from being saved:</h2>

      <ul>
      <% setup.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %>
    <%= f.text_field :name %>
  </div>

  <div class="field">
    <%= f.label :description %>
    <%= f.text_area :description, :rows => 10, style: 'width:50%;' %>
  </div>

  <%= f.fields_for :setup_images do |s| %>
    <div class="field">
      <%= s.label :image %>
      <%= s.file_field :image, multiple: true, name: "setup_images[image][]" %>
      <% if s.object.image? %>
        <%= image_tag s.object.image.thumb.url %>
      <% end %>
    </div>
  <% end %>

  <br>

  <%= f.fields_for :parts do |s| %>
    <div class="field">
      <%= s.label :name %>
      <%= s.text_field :name, name: "parts[part][name]" %>
    </div>
    <div class="field">
      <%= s.label :link %>
      <%= s.text_field :link, name: "parts[part][link]" %>
    </div>
  <% end %>

  <br>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
