<div class="edit-form">
  <%= form_for(@setup) do |f| %>

    <div class="field">
      <%= f.label :name, "Name", :class => "form-label" %>
      <%= f.text_field :name, autofocus: true, :class => "form-control setup-name" %>
    </div>

    <div class="field">
      <%= f.label :description, "Description", :class => "form-label" %>
      <%= f.text_area :description, :rows => 12, :class => "form-textarea" %>
    </div>

    <h2 class="form-label">Images</h2><hr>
    <div class="grid row">
      <% @setup_images.each do |image| %>
        <div class="edit-item">
          <%= link_to image, method: :delete, :class => "btn btn-remove",
            data: { confirm: 'Are you sure?' } do %>
            <i class="fa fa-close"></i>
          <% end %>
          <%= image_tag(image.image.thumbBig.url, :class => "img-responsive") %>
        </div>
      <% end %>
    </div>

    <h2 class="form-label">Parts List</h2><hr style="margin-bottom:10px;">
    <% @parts.each do |part| %>
      <div class="edit-parts row">
        <div class="form-group col-xs-4">
          <p class="part-name"><%= Category.find(part.category_id).name %></p>
        </div>
        <div class="form-group col-xs-4">
          <p class="part-name"><%= part.name %></p>
        </div>
        <div class="form-group col-xs-3">
          <%= link_to part.link %>
        </div>
        <div class="form-group col-xs-1">
          <%= link_to 'Edit', edit_part_path(part) %>
        </div>
      </div>
    <% end %>

    <div class="actions">
      <div class="button-group">
        <%= f.submit "Save", :class => "btn btn-accent padRight" %>
        <%= link_to "Cancel", :back, :class => "link" %>
      </div>
    </div>

  <% end %>
</div>
