<div class="setup-form container">

  <%= form_for(@setup) do |f| %>

    <% if @setup.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(@setup.errors.count, "error") %> prohibited this setup from being saved:</h2>
        <ul>
        <% @setup.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
        </ul>
      </div>
    <% end %>

    <div class="field">
      <%= f.label :name, "Name your setup", :class => "setup-form-label" %>
      <%= f.text_field :name, autofocus: true, :class => "setup-form-input" %>
    </div>

    <div class="actions">
      <%= f.submit "Next", :class => "btn setup-form-btn" %>
    </div>
  <% end %>

</div>
