<% if @setup.user_id == current_user.id %>
  <%= link_to 'Edit', edit_setup_path(@setup) %> |
  <%= link_to 'Destroy', @setup, method: :delete, data: { confirm: 'Are you sure?' } %> |
  <%= link_to 'Back', setups_path %>
<% end %>

<br><br>

<div class="row">
  <div class="col-md-8">
    <div class="setup-images row">
      <div class="hero-image col-md-10">
        <%= link_to image_tag(@setup_images.first.image.hero.url, :class => "img-responsive"), "#imagesModal", "data-toggle": "modal" %>
      </div>
      <div class="thumbnails col-md-2">
        <% @setup_images.each do |image| %>
          <%= link_to image_tag(image.image.thumb.url, :class => "img-responsive"), "#imagesModal", "data-toggle": "modal" %>
        <% end %>
      </div>
    </div>
    <button class="btn btn-favorite"><i class="material-icons">favorite_border</i>SAVE TO FAVORITES</button>
    <div class="setup-description">
      <%= @setup.description %>
    </div>
    <hr>
    <div class="setup-comments">
      Comments will go here...
    </div>
  </div>
  <div class="col-md-4">
    <div class="setup-information">
      <h1><%= @setup.name %></h1>
      by <%= link_to @setup_user.username, edit_user_registration_path %>
    </div>
    <hr style="margin-bottom:8px;">
    <div class="setup-parts list-group">
      <% @parts.each do |part| %>
        <div class="list-group-item">
          <p class="part-type"><%= Category.find(part.category_id).name if part.category_id.present? %></p>
          <p class="part-name"><%= link_to part.name, part.link, :target => "_blank" %></p>
        </div>
      <% end %>
    </div>
  </div>
</div>

<%= render "imageModal" %>
