
<%= link_to 'Edit', edit_setup_path(@setup) %> |
<%= link_to 'Destroy', @setup, method: :delete, data: { confirm: 'Are you sure?' } %> |
<%= link_to 'Back', setups_path %>

<br><br>

<div class="row">
  <div class="col-md-8">
    <div class="setup-images row">
      <div class="hero-image col-md-10">
        <%= link_to image_tag(@setup_images.first.image.hero.url, :class => "img-responsive"), "#", data: {toggle: "modal", target: "#myModal"} %>
      </div>
      <div class="thumbnails col-md-2">
        <% @setup_images.each do |image| %>
          <%= link_to image_tag(image.image.thumb.url, :class => "img-responsive"), "#", data: {toggle: "modal", target: "#myModal"} %>
        <% end %>
      </div>
    </div>
    <button class="btn btn-favorite"><i class="material-icons">favorite_border</i>SAVE TO FAVORITES</button>
    <div class="setup-description">
      <%= @setup.description %>
    </div>
    <hr>
    <div class="setup-comments">
      Comments will go here...
    </div>
  </div>
  <div class="col-md-4">
    <div class="setup-information">
      <h1><%= @setup.name %></h1>
      by <%= link_to @setup_user.username, edit_user_registration_path %>
    </div>
    <hr>
    <div class="setup-parts">
      <% @parts.each do |part| %>
        <%= part.category_id if part.category_id.present? %>
        <br>
        <%= link_to part.name, "#" %>
        <br>
        <%= link_to part.link, "#" %>
      <% end %>
    </div>
  </div>
</div>


<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Modal title</h4>
      </div>
      <div class="modal-body">


        <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
          <!-- Wrapper for slides -->
          <div class="carousel-inner" role="listbox">
            <div class="item active">
              <%= image_tag(@setup_images.first.image_url) %>
            </div>
            <% @setup_images.drop(1).each do |image| %>
               <div class="item">
                 <%= image_tag(image.image_url, :class => "img-responsive") %>
               </div>
            <% end %>
          </div>

          <!-- Controls -->
          <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
            <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
          </a>
          <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
            <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
          </a>
        </div>


      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
