<p>
  <strong>Name:</strong>
  <%= @setup.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @setup.description %>
</p>

<p>
  <strong>Hero image:</strong>
  <%= image_tag(@setup_images[0].image_url, width: 150) if @setup_images[0].present? %>
</p>

<p>
  <strong>Images:</strong>
  <% @setup_images.each do |image| %>
    <%= image_tag(image.image_url, width: 150) if image.present? %>
  <% end %>
</p>

<p>
  <strong>User Id:</strong>
  <%= @setup.user_id %>
</p>

<%= link_to 'Edit', edit_setup_path(@setup) %> |
<%= link_to 'Back', setups_path %>
