<div class="setup-form container">

  <h2 class="setup-form-label">Add images of your setup</h2>

  <%= form_for(@setup, url: wizard_path, :html => { :class => "dropzone" }) do |f| %>

    <%= f.fields_for :setup_images do |s| %>
      <div class="field">
        <div class="fallback">
          <%= s.file_field :image, multiple: true %>
        </div>
      </div>
    <% end %>

    <div class="actions">
      <%= f.submit "Next", :class => "btn setup-form-btn" %>
    </div>

  <% end %>

  <%= link_to 'Skip this step', next_wizard_path, :class => "link" %>

</div>
