.login
  .social-login
    %p Log in with
    .social-login-buttons
      %span.fa-stack.fa-2x
        %i.fa.fa-square.fa-stack-2x
        %i.fa.fa-facebook.fa-stack-1x.fa-inverse
      %span.fa-stack.fa-2x
        %i.fa.fa-square.fa-stack-2x
        %i.fa.fa-twitter.fa-stack-1x.fa-inverse
      %span.fa-stack.fa-2x
        %i.fa.fa-square.fa-stack-2x
        %i.fa.fa-google.fa-stack-1x.fa-inverse
  .social-login-form
    %p or with Top Setup
    = form_for(resource, as: resource_name, url: session_path(resource_name)) do |f|
      .field
        = f.text_field :login, autofocus: true, placeholder: "username", :class => "login-input"
      .field
        = f.password_field :password, autocomplete: "off", placeholder: "password", :class => "login-input"
      .actions
        = f.submit "login", :class => 'btn btn-login'
  %p
    Don't have an account yet? #{link_to "Sign up", new_registration_path(resource_name), :class => 'link'} here!
