<p id="notice"><%= notice %></p>

<h1>Setup Images</h1>

<table>
  <thead>
    <tr>
      <th>Setup</th>
      <th>Image</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @setup_images.each do |setup_image| %>
      <tr>
        <td><%= setup_image.setup_id %></td>
        <td><%= setup_image.image %></td>
        <td><%= link_to 'Show', setup_image %></td>
        <td><%= link_to 'Edit', edit_setup_image_path(setup_image) %></td>
        <td><%= link_to 'Destroy', setup_image, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Setup Image', new_setup_image_path %>
