<p id="notice"><%= notice %></p>

<p>
  <strong>Setup:</strong>
  <%= @setup_image.setup_id %>
</p>

<p>
  <strong>Image:</strong>
  <%= @setup_image.image %>
</p>

<%= link_to 'Edit', edit_setup_image_path(@setup_image) %> |
<%= link_to 'Back', setup_images_path %>
