<!DOCTYPE html>
<html>
  <head>
    <title>Top Setup | Pure Aesthetics</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Check out some of the top desk setups from around the globe. Have one yourself? Show it off!">
    <meta name="keywords" content="gaming, setup, desk, pc, mac, macbook, work, cable management">
    <%= csrf_meta_tags %>

    <!-- Google Font -->
    <link href="https://fonts.googleapis.com/css?family=Lato:300,400,700,900|Open+Sans:300,400,700" rel="stylesheet">

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>

    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <body>
    <%= render "layouts/header" %>
    <div class="wrapper">
      <% if notice %>
        <div class="alert alert-success alert-dismissible" role="alert">
          <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
          <%= notice %>
        </div>
      <% end %>
      <% if alert %>
        <div class="alert alert-danger alert-dismissible" role="alert">
          <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
          <%= alert %>
        </div>
      <% end %>
      <%= yield %>
      <% if (current_user) %>
        <% if current_page?("/") %>
          <%= link_to new_setup_path, :class => "btn btn-add hide-desktop" do %>
            <i class="fa fa-plus fa-2x"></i>
          <% end %>
        <% end %>
      <% end %>
    </div>
  </body>
</html>
